# Data Science Tools and Ecosystem

### 3. In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Tools for Data Science
* Arithmetic Expressions in Python

#### 4. Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

#### 5. Some of the commonly used libraries used by Data Scientists include:

* Pandas
* NumPy
* Matplotlib
* Seeborn
* Scikit-learn
* Keras
* TensorFlow
* Pytorch

 #### 6. Create a markdown cell with a table of Data Science tools
 
 | Data Science Tools |
 | ------------------ |
 | MySQL              |
 | PostgreSQL         |
 | MongoDB            |

### 7. Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Leonard Radu